*{
    box-sizing: border-box;
    margin: 0;
}
body {
  background-color:#FFFCDA;
  margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
  }
  

  .logo {
    padding-left: 0%;
    margin-right: 7%;
  }

  .menu {
    flex-grow: 1;
  }
  .menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 2px 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
  }
  .menu li {
    margin-right: 50px;
  }
  .menu li:last-child {
    margin-right: 0;
  }
  
  .header-line {
    position: absolute;
    width: 600px;
    height: 23px;
    left: 70px;
    top: 16px;
    display: flex;
    align-items: center;
}

.nav-item {
    color: #C72A00 ;
    text-decoration: none;
    letter-spacing: -0.05em;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    
    margin-right: 9px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: FFFCDA;
    color: rgba(250, 160, 136, 0.33);
}

.button {
    color: #C72A00 ;
    text-decoration: none;
    letter-spacing: -0.05em;
    font-weight: 700;
    font-size: 23px;
    line-height: 23px;

    position: absolute;
    width: 366px;
    height: 64px;
    left: 520px;
    top: 660px;
    text-shadow: 4px 7px 9px rgba(0, 0, 0, 0.25);

    transition: color 0.3s linear;
}

.button:hover {
    color: FFFCDA;
    color:rgba(250, 160, 136, 0.33);
}

main{
    display: flex;
    height: 720px;
    background: url(fon.png) center/cover no-repeat;
}
main1{
    display: flex;
    height: 608px;
    background: url(функц.png) center/cover no-repeat;
}


.text{
width: 1326px;

left: 63px;

font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 39px;
letter-spacing: -0.02em;
color: #FFFCDA;
}

.text1{
padding: 70px;
font-style: normal;
font-weight: 600;
font-size: 47px;
line-height: 51px;
letter-spacing: -0.12em;

color: #FFFCDA;
}
.block0{
    background: #C72A00;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
}
.block{
    background: #C72A00;
    padding-bottom: 140px;
    display: flex;
    justify-content: center;
}
.block1{
    max-width: auto;
    width: 100%;
    background: #FFFCDA;
    padding-left: 105px;
    padding-right: 90px;
    padding-top: 100px;
    padding-bottom: 200px;
    top: 100px;
}
.block2{
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.block3{
    max-width: auto;
    width: 100%;
    background: #FFFCDA;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 90px;
    padding-bottom: 200px;
    top: 60px;
}
.block4{
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.block5{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}


.cards-holder {
    display: flex;
    justify-content: center;
}
.card {
    background-color: #C72A00;
    box-shadow: 9px 11px 9px 0px #00000040;
    margin-top: -20px;
    margin-right: 30px;
    margin-left: 30px;
    height: 290px;
    width: 286px;
    left: 15px;
    top: 328px;
    border-radius: 30px;
}
.card-image {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
.card-title {
    display: flex;
    justify-content: center;

    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.12em;

    margin-left: 30px;
    margin-right: 30px;

    color: #FFFCDA;
}
.card-desc {
    display: flex;
    justify-content: center;

    margin-left: 25px;
    margin-right: 25px;
        
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.08em;

    color: #FFFCDA;
}

.cards1 {
    top: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    padding: 15px;
}

.button1 {
    color: #FFFCDA ;
    text-decoration: none;
    letter-spacing: -0.05em;
    font-weight: 800;
    font-size: 23px;
    line-height: 52px;

    width: 369px;
    height: 55px;
    left: 585px;
    margin-top: -120px;
    
    background: #C72A00;
    border-radius: 20px;
    transition: background-color 0.4s linear;

    display: flex;
    justify-content: center;
}

.button1:hover {
    color:#C72A00;
    background-color: #F2EFCB;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#C72A00;
    min-height: 70px;
    width: 100%;
    margin-top: auto;
}

.footer_icons1 img  {
position: relative;
width: 30px;
height: 30px;
left: 440px;
margin: 5px;

}

.footer_icons:hover{
    opacity: 0.3;
    transition: 0.4S;
}


footer .footer_text{
    color:#FFFCDA;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    left: 77px;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }


